.title {
  margin-left: 16px;
  font-weight: 700;

  span {
    font-weight: normal;
    color: gray;
  }
}

.list-group-item {
  border: none;
}

.bi-trash{
  cursor: pointer;
}

.container-icons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: #a1a1ab;
}
