<section class="col-6" *ngIf="timeItem">
  <form class="card">

    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex justify-content-around">


        <img src="assets/images/person.png" alt="user" class="img-thumbnail">

        <div class="d-flex flex-column w-100">
          <div class="w-80 title d-flex justify-content-between" >
            <div>Alexandre Nunes
              <span> @amnzera - </span>
              <span>{{dateNow}}</span>
            </div>
            <i class="bi bi-trash" (click)="showModal()"></i>
          </div>
          <div class="w-100 p-3 pt-1" >
              {{ timeItem!.message }}
          </div>
        </div>

      </li>
      <li class="list-group-item d-flex justify-content-between">

        <div class="container-icons">
          <i class="bi bi-chat-fill"></i>
          <i class="bi bi-arrow-counterclockwise"></i>
          <i class="bi bi-heart"></i>
          <i class="bi bi-upload"></i>
          <i class="bi bi-bar-chart-fill"></i>
        </div>


      </li>
    </ul>

  </form>

</section>

<app-modal-remove #modalRemoveComponent (removeEmitter)="remove()"></app-modal-remove>
